.carousel {
	overflow: hidden;
	position: relative;
}

.inner {
	white-space: nowrap;
	transition: transform 0.7s;
	height: 100vh;
}

.carousel-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
}

.indicators {
	width: 100%;
	height: 100%;
}

.indicators__arrows {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 50%;
	width: 100%;
	padding: 0 60px;
}

.container__arrow {
	cursor: pointer;
	background-color: transparent;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.2s;
}

.container__arrow:hover {
	background-color: rgb(var(--card-rgb), 0.5);
}

.container__arrow:hover > svg {
	color: rgb(var(--foreground-rgb), 0.8);
}

.container__arrow > svg {
	width: 20px;
	height: 20px;
}

.indicators__dots {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	gap: 6px;
}

.indicator__dot {
	height: 3px;
	width: 30px;
	background-color: rgb(var(--foreground-rgb), 0.5);
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 3px;
}

.indicator__dot.active {
	background-color: rgb(var(--foreground-rgb));
}

.carousel__text_description {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(var(--background-start-rgb), 0) 80%, rgb(var(--background-start-rgb), 1));
	position: absolute;
	top: 0;
	padding: 40px;
	display: flex;
	align-items: end;
}

.container__header {
	position: absolute;
	width: 100%;
	top: 0;
}

/* tablets */
@media (min-width: 768px) {
	.indicators__arrows {
		display: flex;
	}

	.carousel__text_description {
		padding: 60px;
	}
}

/* desktop */
@media (min-width: 992px) {
	.indicators__arrows {
		display: flex;
	}

	.carousel__text_description {
		padding: 60px;
	}
}
